:root {
    --intense-purple: #5E1DFC;
    --purple: #8f57fd;
    --opaque-purple: #AB88FF;
    --greeen: #12C08B;
    --highlight-yellow: #E6AF2E;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
}

body {
    background-color: var(--purple);
}

.header {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: var(--purple);
    justify-content: space-between;
}

.header__img {
    width: 180px;
    margin-left: 10px;
}

.header__menu:hover ul,.menu__list:hover {
    display: block;
} 

.menu__list--link:hover {
    text-decoration: underline;
}

.header__menu--profile {
    display: flex;
    margin-right: 45px;
    font-size: 1.6rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__menu--profile p {
    color: #ffffff;
    font-weight: 600;  
}

.menu__list--link {
    color: #ffffff;
    text-decoration: none;
}

.menu__list {
    display: none;
    list-style: none;
    position: absolute;
    width: 100px;
    text-align: right;
    top: 70px;
}

.menu__list--item {
    margin: 10px 0px;
}

.searcher {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searcher__title {
    font-weight: 600;
    font-size: 2.6rem;
    color: #ffffff;
}

.searcher__input {
    margin-top: 40px;
    width: 60vw;
    height: 40px;
    padding: 20px;
    font-family: 'Mulish', sans-serif;
    font-size: 1.6rem;
    border: 2px solid #ffffff;
    border-radius: 50px;
    background-color: var(--opaque-purple);
    outline: none;
    color: #ffffff;
}

.searcher__input::placeholder {
    color: #ffffff;
}



